@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900');

* {
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;

    user-select: none;
}
.location {
    display: flex;

    height: 8%;

    background: rgba(220,220,218, 1);

    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.main-content {
    height: 100%;
}
.location > * {
    height: 60%;
    margin-right: 5px;
    margin-left: 5px;

    cursor: pointer;

    border: none;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
}
.location select {
    width: 45%;
    padding-left: 15px;

    background-image: url(./src/location.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 14px;
}
.location button {
    width: 30%;
}
.cont {
    display: flex;
    flex-direction: column;

    max-width: 505px;
    height: 100vh;
    margin: 0 auto;

    justify-content: center;
}

.days-tabs {
    display: flex;

    background: rgba(220,220,218, 1);

    justify-content: center;
    align-items: center;
}
.wind {
    display: flex;

    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.wind-logo {
    width: 20px;
    height: 16px;

    background: url(./src/Weather-wind_icon-icons.com_51816.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.wind-direction {
    width: 17px;
    height: 17px;

    background: url(src/spr1_1.png);
}

.win-dir-N {
    background-position-y: 0;
}
.win-dir-NE {
    background-position-y: -17px;
}
.win-dir-E {
    background-position-y: -34px;
}
.win-dir-SE {
    background-position-y: -51px;
}
.win-dir-S {
    background-position-y: -68px;
}
.win-dir-SW {
    background-position-y: -85px;
}
.win-dir-W {
    background-position-y: -112px;
}
.win-dir-NW {
    background-position-y: -129px;
}

.day-tab {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 10px 0;

    border-top-width: 8px;
    border-top-style: solid;

    flex-grow: 1;
    justify-content: center;
    align-content: center;
}
.day-weather-icon {
    border-right: 2px solid rgba(172, 172, 170, 1);
}
.day-tab:last-child .day-weather-icon {
    border-right: none;
}
.day-tab:nth-child(1) {
    border-top-color: #34a853;
}
.day-tab:nth-child(2) {
    border-top-color: #4285f4;
}
.day-tab:nth-child(3) {
    border-top-color: #fbbc05;
}
.day-tab:nth-child(4) {
    border-top-color: #ea4335;
}
.day-tab div {
    text-align: center;
}
.day-weather-icon img {
    width: 100%;
}
label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: 0;
    border: 1px solid black;
}
.days-cont {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 60%;

    background: rgba(244, 245, 240, 1);
    background-image: url(./src/487.png);

    justify-content: space-between;
}

.days-cont-item {
    font-size: 68px;

    display: none;
    flex-direction: column;

    height: 100%;

    cursor: default;

    color: #5b5b5b;

    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.location-title {
    font-size: 65px;
    font-weight: 500;

    width: auto;
    margin: -10px auto 0 auto;

    cursor: default;

    color: #5b5b5b;
}

.display-weather-icon {
    width: 80%;
    margin-top: 15px;

    text-align: center;

    flex-basis: 60%;
}
.display-weather-icon img {
    height: 90%;
    min-height: 180px;
    max-height: 250px;
}
input {
    display: none;
}
input#present-day-weather:checked ~ div.present-day-weather {
    display: flex;
}
input#secont-day-weather:checked ~ div.secont-day-weather {
    display: flex;
}
input#third-day-weather:checked ~ div.third-day-weather {
    display: flex;
}
input#fourth-day-weather:checked ~ div.fourth-day-weather {
    display: flex;
}

.present-day-weather,
.secont-day-weather,
.third-day-weather,
.fourth-day-weather {
    box-sizing: border-box;

    border-bottom-width: 8px;
    border-bottom-style: solid;
}
.present-day-weather {
    border-bottom-color: #34a853;
}
.secont-day-weather {
    border-bottom-color: #4285f4;
}
.third-day-weather {
    border-bottom-color: #fbbc05;
}
.fourth-day-weather {
    border-bottom-color: #ea4335;
}
.display-temp {
    margin-bottom: 20px;
}
.day-title {
    font-weight: 800;
}
#dayTitle0 {
    color: #34a853;
}
#dayTitle1 {
    color: #4285f4;
}
#dayTitle2 {
    color: #fbbc05;
}
#dayTitle3 {
    color: #ea4335;
}
