
*{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}
.content{
	padding: 0;
	overflow-x: hidden;
	min-width: 430px;
}
.content > div {
	max-width: 2000px;
	margin: 0 auto;
}
.fs-14px{
	font-size: 0.9em;
}
.slide-h1{
	position: relative;
	display: inline-block;
	width: max-content;
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 40px 0px 40px 0px;
	font-size: 2.5em;
	color:#9b6f56;
	text-transform: uppercase;
  word-wrap: normal;
  font-weight: 300;
}
.slide-h1::after{
	content: "";
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;

}
.nav{
	width: 100%;
	height: 62px;
	position: absolute;
	top: 0;
	left:0;
	background: rgba(0,8,12,.1);
	z-index: 99;
}
.nav-bar{
	display: none;
}
.burg-menu{
	display: none;
	width: 7vw;
	height: 7vw;
	min-width: 40px;
	min-height: 40px;
	position: absolute;
	right: 10px;
	z-index: 999;
	cursor: pointer;
	border-radius: 5px;
}
.burg-menu:hover {
	background: rgba(0,8,12,.1);
}

.max-width{
	max-width: 1210px;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
	box-sizing: border-box;
	margin: 0 auto;
}
body > div{
	padding-top: 120px;
}
.nav-ul{
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
	list-style: none;

}
.nav-ul li {
	flex-grow: 1;
	height: 100%;
	text-transform: uppercase;
	font-size: 1.1em;

}
.nav-ul li a{
	display: inline-block;
	height: 100%;
	width: 100%;
	padding-top: 22px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color:rgba(0,8,12,.6);
	font-weight: 400;
}
.nav-ul li a:hover{
	color:rgba(0,8,12,.8);
	background: rgba(0,8,12,.1);
}
.nav-ul li a.active{
	text-decoration: underline;
	font-weight: bold;
}
.production{
	padding-top: 0px;
	position: relative;
	height: 100vh;
	background-image: url(../img/bg-production.png);
	background-position: center;
	background-size: cover;
}
.production .logo-production{
	position: absolute;
	width: 30vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.production .logo-production img{
	width: 100%;
}
.discography-slide{
	background-image: url(../img/bg-discography.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
h1 + p{
	display: block;
	margin: 0 auto 150px auto;
	text-align: center;
	width: 60%;
	color:#798285;
	font-size: 1em;
}
.discography-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	padding-bottom: 340px;
}
.title{
	flex-basis: 35%;
}
.description{
	flex-basis: 60%;
	margin-bottom: 110px;
}

.title-data{
	margin-left: -3px;
	padding-bottom: 12px;
	opacity: .65;
	font-weight: 600;
}
.title-label{

	border-top: 1px solid #000;
	padding-top: 10px;
	font-weight: 600;
	text-transform: uppercase;
}
div > h2{
	font-size: 1.3em;
	margin-bottom: 24px;
}
h2 + p{
	color: #798285;
	margin-bottom: 32px;
}
.description button{
	width: 195px;
	height: 55px;
	text-transform: uppercase;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	font-weight: 600;
	cursor: pointer;
}
.btn-1{
	background-image: url(../img/btn-1.png);
	color: #fff;
}
.btn-2{
	background-image: url(../img/btn-2.png);
}
.btn-3{
	background-image: url(../img/btn-3.png);
}
.concert h1{
	color: #66a4ae;
}
.concert-container{
	margin-top: 475px;
	display: flex;
	justify-content: flex-start;
	padding: 0 10px 0 10px;

}
.cincert-item{
	flex-basis: 60%;
}
.concert-silde{
	padding-bottom: 250px;
	background-image: url(../img/bg-concert.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.transparent-button{
	width: 40%;
	height: 55px;
	font-weight: 600;
	background: none;
	border:1px solid #b8b9b9;
	cursor: pointer;
}
.composition-slide{
	padding-bottom: 105px;
}
.composition-container{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 55px;
}
.composition-container > div {
	flex-basis: 50%;
}
.description-container{
	position: relative;
	background-color: #f5f6f6;
	box-sizing: border-box;
	padding:35px;
}
.description-container:first-child::after{
	content: "";
	position: absolute;
	display: block;
	left: 100%;
	box-sizing: border-box;
	top: 50%; 
	width: 13px;
	height: 22px;
	transform: translateY(-50%);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 13px solid #f5f6f6;
	z-index: 99;
}
.description-container:last-child::after{
	content: "";
	position: absolute;
	display: block;
	right: 100%;
	box-sizing: border-box;
	top: 50%; 
	width: 13px;
	height: 22px;
	transform: translateY(-50%);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 13px solid #f5f6f6;
	z-index: 99;
}
.listen,
.like,
.re-post,
.comment{
	display: inline-block;
	margin-left: 2%;
	background-color: #f5f6f6;
	font-size: 0.7em;
	color: #999999;
	text-decoration: none;
	padding-left: 25px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: left center;
	vertical-align: bottom;
}
.player-container{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.conrols-container{
	
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: -45px;
	padding:0 35px 0 35px;
	box-sizing: border-box;
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.conrols-container>*{
	cursor: pointer;
}
.play{
	height: 16px;
	width: 12px;
	background-image: url(../img/icon/play.png);

}
.progres{
	
	display: flex;
	align-items: center;
	width: 67.76859504132231%;
}
.before{
	display: inline-block;
	width: 50px;
	height: 2px;
	background: #fff;
}
.circle{
	display: inline-block;
	min-width: 12px;
	height: 12px;
	margin-left: -6px;
	border-radius: 6px 6px 6px 6px;
	background: #fff;
}
.after{
	display: inline-block;
	width: 100%;
	height: 2px;
	background: #707070;
}
.time-line{
	font-size: 0.7em;
}
.first-time{
	color: #fff;
}
.last-time{
	color:#8a8a8a;
}
.listen{
	background-image: url(../img/icon/listen.png);
}
.like{
	background-image: url(../img/icon/like.png);
}
.re-post{
	background-image: url(../img/icon/re-post.png);
}
.comment{
	background-image: url(../img/icon/comment.png);
}
.indian-sammer{
	background-image: url(../img/track-1.png);
}
.show-me-love{
	background-image: url(../img/track-2.png);
}
.chill-nation{
	background-image: url(../img/track-3.png);
}
.slider{
	position: relative;
	padding-top: 82px;
	padding-bottom: 85px;
	background-image: url(../img/bg-slider.png);
	background-repeat: no-repeat;
	background-position: bottom center;	
}
div[class$="left"] {
	position: absolute;
	top: 50%;
	left:0;
	transform: translateY(-50%);
	cursor: pointer;
}
div[class$="right"] {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	cursor: pointer;
}

	.btn-left img, .btn-right img {
		width: 100%;
	}
.slider .note{
	display: inline-block;
	vertical-align: middle;
}
.slider h3 {
	padding-top: 45px;
	color:#fff;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	line-height: 26px;
}
.slider p{
	width: 80%;
	color:#798285;
	padding-top: 45px;
	padding-bottom: 40px;
	line-height: 24px;
	text-align: center;
}

.slider span{
	color:#565e61;
}

.checkbox-cont label {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-top: 80px;
	border:1px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 0px;
}
.checkbox-cont label:not(:last-child) {
	margin-right: 35px;
}
.checkbox-cont label:not(:first-child) {
	background-color: #fff;
}
.flex-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.upcoming-events{
	background-image: url(../img/bg-upcoming.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.upcoming-events-container{
	padding-top: 80px;
	/*padding-bottom: 305px;*/
}
.upcoming-events-container-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.upcoming-events-flex-item{
	flex-basis: 32%;
	margin-top: 30px;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	width: 384px;
	min-height: 422px;
  height: auto;
	background-size: cover;
	background-position: right bottom;
}
.upcoming-events-container-flex .title-label{
	color:#fff;
}
.bg01{
	background-image: url(../img/bg-upcoming-item-01.png);
}
.bg02{
	background-image: url(../img/bg-upcoming-item-02.png);
}
.bg03{
	background-image: url(../img/bg-upcoming-item-03.png);
}
.bg04{
	background-image: url(../img/bg-upcoming-item-04.png);
}
.bg05{
	background-image: url(../img/bg-upcoming-item-05.png);
}
.bg06{
	background-image: url(../img/bg-upcoming-item-06.png);
}
.upcoming-events-container2{
	margin-left: 50%;
	padding-bottom: 185px;
}
.upcoming-events-container2 .slide-h1{
	margin: 0;
	padding: 0;
	text-align: left;
	color: #42717e;
	margin-top: 305px;
}
.upcoming-events-h2{
	/*115px 10px*/
	margin: 0;
	margin-top:  115px;
	padding-top: 22px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.upcoming-events-container2 p{
	padding: 20px 0 20px 0;
	margin: 0;
}
.empty-55px{
	height: 55px;
	border-left: 1px solid #000;
	margin-left: 35px;
}
.upcoming-events-container2 .title-data{
	padding: 20px 0 20px 0;
}
.empty-165px{
	height: 165px;
	border-left: 1px solid #000;
	margin-left: 35px;
}
.timeline-container{
	max-width: 2000px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 40px;
}
.timeline{
	width: calc((100% - 30px * 11)/11);
	border-bottom: 1px solid #b2b2b2;
	cursor: pointer;
	min-width: 50px;
}
.timeline-hr{
	min-width: 20px;
}
.data-timeline{
	font-size: 1.7em;
	text-transform: uppercase;
	color: #000;
	opacity: 0.28;
	text-align: center;
	border-bottom: none;
}
.timeline-cheched{
	opacity: 1;
}
.history{
	padding-bottom: 610px;
	background-image: url(../img/bg-history.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.timeline-content{
	position: absolute;
	left: 50%;
	transform: translate(-50% , 120%);
	width: 200px;
	color:#5a5a58;
	text-align: center;
}
.contact{
	height: 100vh;
	width: 100%;
	background-image: url(../img/bg-contact.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.contact-cantainer{
	margin-left: 50%;
}
 .contact-cantainer p{
	text-align: left;
}
.contact-cantainer p{
	margin-left: 0;
	width: 100%;
}
.contact-flex-cantainer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.social-link {
	border-left: 1px solid #000;
}
.form-container {
	flex-basis: 70%;
}
.social-link{
	flex-basis: 12%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.social-link a{
	padding: 10px;
}
form{
	display: block;
}
input{
	width: 100%;
	display: block;
	font-size: 0.8em;
	padding: 10px 10px 10px 0px;
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	box-sizing: border-box;
	background-color: transparent;
}
input[type="button"]{
	margin-top: 20px;
	margin-left: -10px;
	border: none;
	font-size: 1.1em;
	font-weight: bold;
	color:#000;
	background:none;
	padding: 10px;
	width: auto;
	cursor: pointer;
}

.btn-top {
		display: none;
		cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}